### Lab Revisiting Machine Learning Case Study
#### Aída Moure

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('data/learningSet.csv')
data.shape

(95412, 481)

In [4]:
categorical = data.select_dtypes(include=['object'])

In [5]:
categorical.shape

(95412, 74)

1. Check for all null values in all the columns

In [6]:
nulls_percent_df = pd.DataFrame(categorical.isna().sum()/len(categorical)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

#it can't be seen all the columns...

   column_name  nulls_percentage
0      OSOURCE          0.000000
1        STATE          0.000000
2          ZIP          0.000000
3     MAILCODE          0.000000
4     PVASTATE          0.000000
..         ...               ...
69      RFA_2A          0.000000
70    MDMAUD_R          0.000000
71    MDMAUD_F          0.000000
72    MDMAUD_A          0.000000
73    GEOCODE2          0.001383

[74 rows x 2 columns]

Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- OSOURCE - symbol definitions not provided, too many categories
- ZIP CODE - we are including state already
- Columns that over 85% missing values

In [7]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]
print(len(columns_above_threshold['column_name']))

#we have 25 columns with more than 85% missing data

0

In [8]:
columns_above_thresh_list= list(columns_above_threshold['column_name'])
print(columns_above_thresh_list)

[]

In [9]:
#to check!
print(data.RDATE_3.isnull().sum())
print(data.RDATE_3.info())

#ok, this variable included in the previous list has only 242 values non-null out of 95,170

95170
<class 'pandas.core.series.Series'>
RangeIndex: 95412 entries, 0 to 95411
Series name: RDATE_3
Non-Null Count  Dtype
--------------  -----
242 non-null    float64
dtypes: float64(1)
memory usage: 745.5 KB
None

In [10]:
drop_list=[]

In [11]:
drop_list.append('OSOURCE')
drop_list.append('ZIP')

In [12]:
len(drop_list)#OK

2

In [13]:
drop_list

['OSOURCE', 'ZIP']

In [14]:
for column in columns_above_thresh_list:
    drop_list.append(column)

In [15]:
len(drop_list) #OK

2

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [16]:
categorical.GENDER.unique()

array(['F', 'M', ' ', 'C', 'U', 'J', 'A'], dtype=object)

In [17]:
print(categorical['GENDER'].value_counts())

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [18]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace(" ", "F"))

In [19]:
categorical.GENDER.unique()

array(['F', 'M', 'C', 'U', 'J', 'A'], dtype=object)

In [20]:
#print(data['GENDER'].value_counts())
#data['GENDER'] = data['GENDER'].fillna('F')

In [21]:
print(categorical['GENDER'].value_counts())

GENDER
F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [22]:
genero=['F', 'M']
def clean_gender(x):
    if x not in genero:
        return 'other'
    else:
        return x
categorical['GENDER'] = list(map(clean_gender, categorical['GENDER']))

In [23]:
print(categorical['GENDER'].value_counts())

GENDER
F        54234
M        39094
other     2084
Name: count, dtype: int64