### Lab Revisiting Machine Learning Case Study
#### Aída Moure

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('data/learningSet.csv')
data.shape

(95412, 481)

1. Check for all null values in all the columns

In [3]:
nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df

#it can't be seen all the columns...

    column_name  nulls_percentage
0       ODATEDW          0.000000
1       OSOURCE          0.000000
2         TCODE          0.000000
3         STATE          0.000000
4           ZIP          0.000000
..          ...               ...
476    MDMAUD_R          0.000000
477    MDMAUD_F          0.000000
478    MDMAUD_A          0.000000
479    CLUSTER2          0.001383
480    GEOCODE2          0.001383

[481 rows x 2 columns]

Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- OSOURCE - symbol definitions not provided, too many categories
- ZIP CODE - we are including state already
- Columns that over 85% missing values

In [4]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]
print(len(columns_above_threshold['column_name']))

#we have 25 columns with more than 85% missing data

25

In [5]:
columns_above_thresh_list= list(columns_above_threshold['column_name'])
print(columns_above_thresh_list)

['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [6]:
#to check!
print(data.RDATE_3.isnull().sum())
print(data.RDATE_3.info())

#ok, this variable included in the previous list has only 242 values non-null out of 95,170

95170
<class 'pandas.core.series.Series'>
RangeIndex: 95412 entries, 0 to 95411
Series name: RDATE_3
Non-Null Count  Dtype
--------------  -----
242 non-null    float64
dtypes: float64(1)
memory usage: 745.5 KB
None

In [7]:
drop_list=[]

In [8]:
drop_list.append(data.OSOURCE)
drop_list.append(data.ZIP)

In [9]:
len(drop_list)#OK

2

In [10]:
drop_list

[0        GRI
 1        BOA
 2        AMH
 3        BRY
 4
         ...
 95407    ASE
 95408    DCD
 95409    MBC
 95410    PRV
 95411    MCC
 Name: OSOURCE, Length: 95412, dtype: object,
 0        61081
 1        91326
 2        27017
 3        95953
 4        33176
          ...
 95407    99504
 95408    77379
 95409    48910
 95410    91320
 95411    28409
 Name: ZIP, Length: 95412, dtype: object]

In [11]:
for column in columns_above_thresh_list:
    drop_list.append(column)

In [12]:
len(drop_list) #OK

27

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [13]:
data.GENDER.unique()

array(['F', 'M', ' ', 'C', 'U', 'J', 'A'], dtype=object)

In [14]:
print(data['GENDER'].value_counts())

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [15]:
data['GENDER'] = data['GENDER'].apply(lambda x: x.replace(" ", "F"))

In [16]:
data.GENDER.unique()

array(['F', 'M', 'C', 'U', 'J', 'A'], dtype=object)

In [17]:
#print(data['GENDER'].value_counts())
#data['GENDER'] = data['GENDER'].fillna('F')

In [18]:
print(data['GENDER'].value_counts())

GENDER
F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [19]:
genero=['F', 'M']
def clean_gender(x):
    if x not in genero:
        return 'other'
    else:
        return x
data['GENDER'] = list(map(clean_gender, data['GENDER']))

In [20]:
print(data['GENDER'].value_counts())

GENDER
F        54234
M        39094
other     2084
Name: count, dtype: int64