# LAB REST FULL APIs 
* Aida Moure Fernandez
* Abril 2024

In [1]:
import pandas as pd
from pandas import json_normalize

import requests 
import json
import os #operating system
from dotenv import load_dotenv #in case we need tokens or passwords

### 1. Let's see how many dead human characters we have in Ricky & Morty. What's their name, where do they come from...and how important they are (proxy: in how many episodes they do appear)

In [2]:
urls=['https://rickandmortyapi.com/api/character/?species=Human&status=Dead']
url='https://rickandmortyapi.com/api/character/'
params={"species":"Human", "status":"Dead"}

In [3]:
response=requests.get(url)
response.status_code #ok

200

In [4]:

while True:
    try:
        response=requests.get(url, params=params)
        url=response.json()["info"]["next"]
        urls.append(url)

    except:
        break

In [5]:
urls

['https://rickandmortyapi.com/api/character/?species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=2&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=3&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=4&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=5&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=6&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=7&species=Human&status=Dead',
 None]

In [6]:
urls.pop() #let's remove the last element (None)

In [7]:
urls

['https://rickandmortyapi.com/api/character/?species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=2&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=3&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=4&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=5&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=6&species=Human&status=Dead',
 'https://rickandmortyapi.com/api/character/?page=7&species=Human&status=Dead']

In [8]:
nombre=[]
procedencia=[]
genero=[]
capitulos=[]
vivomuerto=[]
especie=[]

for j in urls:
    response=requests.get(j)
    muerto=response.json()["results"]
    for rip in muerto:
        nombre.append((rip["name"]))
        procedencia.append(rip["origin"]["name"])
        genero.append(rip["gender"])
        capitulos.append(len(rip["episode"]))
        vivomuerto.append((rip["status"]))
        especie.append((rip["species"]))

In [9]:
print(len(nombre))
print(len(procedencia))
print(len(genero))
print(len(capitulos))
print(len(vivomuerto))
print(len(especie))

134
134
134
134
134
134

In [10]:
human_rip=pd.DataFrame({"Nombre":nombre,
                            "Genero":genero,
                            "Status": vivomuerto,
                            "Origen": procedencia,
                            "Capítulos":capitulos})

In [11]:
human_rip
#we can see that these characters are not present in many chapters;maybe that's why they're dead??

               Nombre Genero Status                         Origen  Capítulos
0    Adjudicator Rick   Male   Dead                        unknown          1
1     Agency Director   Male   Dead  Earth (Replacement Dimension)          1
2          Alan Rails   Male   Dead                        unknown          1
3     Albert Einstein   Male   Dead                  Earth (C-137)          1
4           Alexander   Male   Dead                  Earth (C-137)          1
..                ...    ...    ...                            ...        ...
129         Punk Rick   Male   Dead                        unknown          1
130        Party Rick   Male   Dead                        unknown          1
131         Scar Rick   Male   Dead                        unknown          1
132      Redhead Rick   Male   Dead                        unknown          1
133     Redhead Morty   Male   Dead                        unknown          1

[134 rows x 5 columns]

### 2. Let's see the name, the type of dimension and how many residents have those locations that are Planets

In [12]:
urls=['https://rickandmortyapi.com/api/location/?type=Planet']
url='https://rickandmortyapi.com/api/location/'
params={"type":"Planet"}

In [13]:
response=requests.get(url)
response.status_code #ok

200

In [14]:
while True:
    try:
        response=requests.get(url, params)
        url=response.json()["info"]["next"]
        urls.append(url)

    except:
        break #pass porque si no sería infinito infinito! si es una función no sería break, sería return

In [15]:
urls

['https://rickandmortyapi.com/api/location/?type=Planet',
 'https://rickandmortyapi.com/api/location/?page=2&type=Planet',
 'https://rickandmortyapi.com/api/location/?page=3&type=Planet',
 'https://rickandmortyapi.com/api/location/?page=4&type=Planet',
 None]

In [16]:
urls.pop()

In [17]:
urls

['https://rickandmortyapi.com/api/location/?type=Planet',
 'https://rickandmortyapi.com/api/location/?page=2&type=Planet',
 'https://rickandmortyapi.com/api/location/?page=3&type=Planet',
 'https://rickandmortyapi.com/api/location/?page=4&type=Planet']

In [18]:
nombre=[]
tipo=[]
dimension=[]
habitantes=[]

for j in urls:
    response=requests.get(j)
    lugares=response.json()["results"]
    for lugar in lugares:
        nombre.append((lugar["name"]))
        tipo.append(lugar["type"])
        dimension.append(lugar["dimension"])
        habitantes.append(len(lugar["residents"]))

In [19]:
print(len(nombre))
print(len(tipo))
print(len(dimension))
print(len(habitantes))

63
63
63
63

In [20]:
type_planet=pd.DataFrame({"Nombre":nombre,
                            "Tipo_de_lugar":tipo,
                            "Dimension": dimension,
                            "Num_habitantes": habitantes})

In [21]:
type_planet

,Nombre,Tipo_de_lugar,Dimension,Num_habitantes
0,Earth (C-137),Planet,Dimension C-137,27
1,Worldender's lair,Planet,unknown,9
2,Post-Apocalyptic Earth,Planet,Post-Apocalyptic Dimension,10
3,Purge Planet,Planet,Replacement Dimension,4
4,Venzenulon 7,Planet,unknown,1
...,...,...,...,...
58,Morglutz,Planet,Replacement Dimension,1
59,Ferkus 9,Planet,Replacement Dimension,2
60,Avian Planet,Planet,Replacement Dimension,2
61,Slartivart,Planet,Replacement Dimension,1
62,Rick and Two Crows Planet,Planet,Replacement Dimension,3

### 3. Let's see the ID and date when the famous chapter 'Pickle Rick' was on air!

In [22]:
urls=['https://rickandmortyapi.com/api/episode/?name=Pickle Rick']
url='https://rickandmortyapi.com/api/episode/'
params={"name":"Pickle Rick"}

In [23]:
response=requests.get(url)
response.status_code #ok

200

In [24]:
while True:
    try:
        response=requests.get(url, params)
        url=response.json()["info"]["next"]
        urls.append(url)

    except:
        break #pass porque si no sería infinito infinito! si es una función no sería break, sería return

In [25]:
urls

['https://rickandmortyapi.com/api/episode/?name=Pickle Rick', None]

In [26]:
urls.pop()

In [27]:
nombre=[]
id=[]
air_date=[]


for j in urls:
    response=requests.get(j)
    epis=response.json()["results"]
    for epi in epis:
        nombre.append((epi["name"]))
        id.append(epi["id"])
        air_date.append(epi["air_date"])

In [28]:
print(len(nombre))
print(len(id))
print(len(air_date))

1
1
1

In [29]:
episod=pd.DataFrame({"Nombre":nombre,
                     "Date on Air":air_date,
                     "ID":id})

In [30]:
episod #it has ID 24, so it is chapter 24. It was on air on August 2017

        Nombre     Date on Air  ID
0  Pickle Rick  August 6, 2017  24

In [31]:
human_rip

               Nombre Genero Status                         Origen  Capítulos
0    Adjudicator Rick   Male   Dead                        unknown          1
1     Agency Director   Male   Dead  Earth (Replacement Dimension)          1
2          Alan Rails   Male   Dead                        unknown          1
3     Albert Einstein   Male   Dead                  Earth (C-137)          1
4           Alexander   Male   Dead                  Earth (C-137)          1
..                ...    ...    ...                            ...        ...
129         Punk Rick   Male   Dead                        unknown          1
130        Party Rick   Male   Dead                        unknown          1
131         Scar Rick   Male   Dead                        unknown          1
132      Redhead Rick   Male   Dead                        unknown          1
133     Redhead Morty   Male   Dead                        unknown          1

[134 rows x 5 columns]

In [32]:
type_planet

,Nombre,Tipo_de_lugar,Dimension,Num_habitantes
0,Earth (C-137),Planet,Dimension C-137,27
1,Worldender's lair,Planet,unknown,9
2,Post-Apocalyptic Earth,Planet,Post-Apocalyptic Dimension,10
3,Purge Planet,Planet,Replacement Dimension,4
4,Venzenulon 7,Planet,unknown,1
...,...,...,...,...
58,Morglutz,Planet,Replacement Dimension,1
59,Ferkus 9,Planet,Replacement Dimension,2
60,Avian Planet,Planet,Replacement Dimension,2
61,Slartivart,Planet,Replacement Dimension,1
62,Rick and Two Crows Planet,Planet,Replacement Dimension,3

In [33]:
episod

        Nombre     Date on Air  ID
0  Pickle Rick  August 6, 2017  24