## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [37]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [38]:
sample_list_1 = random.sample(range(100), k=80)
print (sample_list_1) 
# Your code here

[89, 12, 92, 71, 31, 36, 37, 24, 23, 81, 74, 77, 41, 85, 96, 66, 2, 64, 11, 6, 27, 22, 19, 61, 63, 0, 68, 91, 59, 47, 62, 51, 42, 84, 50, 49, 70, 95, 53, 25, 72, 38, 10, 14, 16, 94, 73, 80, 79, 30, 7, 52, 29, 39, 97, 32, 55, 33, 54, 26, 28, 56, 88, 1, 99, 5, 76, 21, 60, 4, 75, 9, 87, 98, 20, 93, 82, 86, 43, 15]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [39]:
set1 = set(sample_list_1)
print(set1)
len(set1) #yes, it still has a length of 80 items, all of them unique as sets do not allow repeated values
# Gets the count of the unique values

{0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 41, 42, 43, 47, 49, 50, 51, 52, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

80

In [40]:
#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

SyntaxError: unterminated string literal (detected at line 6) (3558763817.py, line 6)

In [41]:
# your code
sample_list_2=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    sample_list_2.append(random.randint(1,100))
sample_list_2

Enter number of elements: 80

[47,
 18,
 70,
 33,
 55,
 8,
 83,
 47,
 72,
 76,
 94,
 46,
 50,
 35,
 59,
 57,
 36,
 59,
 38,
 16,
 28,
 52,
 69,
 41,
 41,
 87,
 13,
 76,
 7,
 40,
 28,
 15,
 64,
 2,
 27,
 59,
 82,
 24,
 52,
 91,
 62,
 26,
 37,
 84,
 16,
 30,
 3,
 76,
 3,
 35,
 33,
 16,
 70,
 83,
 66,
 79,
 72,
 21,
 49,
 35,
 16,
 5,
 49,
 83,
 23,
 77,
 74,
 6,
 14,
 63,
 12,
 71,
 57,
 90,
 56,
 43,
 1,
 24,
 16,
 55]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [42]:
# Your code here
set2 = set(sample_list_2)
print(set2)
len(set2) #length is now 61 because sets do not allow repeated values and this random list had them

{1, 2, 3, 5, 6, 7, 8, 12, 13, 14, 15, 16, 18, 21, 23, 24, 26, 27, 28, 30, 33, 35, 36, 37, 38, 40, 41, 43, 46, 47, 49, 50, 52, 55, 56, 57, 59, 62, 63, 64, 66, 69, 70, 71, 72, 74, 76, 77, 79, 82, 83, 84, 87, 90, 91, 94}

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [43]:
# Your code here
set3=set1-set2
print(set3)

{0, 4, 9, 10, 11, 19, 20, 22, 25, 29, 31, 32, 39, 42, 51, 53, 54, 60, 61, 68, 73, 75, 80, 81, 85, 86, 88, 89, 92, 93, 95, 96, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [44]:
# Your code here
set4=set2-set1
print(set4)

{35, 3, 69, 8, 40, 13, 46, 18, 83, 57, 90}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [45]:
# Your code here
set5=set1&set2
print(set5)

{1, 2, 5, 6, 7, 12, 14, 15, 16, 21, 23, 24, 26, 27, 28, 30, 33, 36, 37, 38, 41, 43, 47, 49, 50, 52, 55, 56, 59, 62, 63, 64, 66, 70, 71, 72, 74, 76, 77, 79, 82, 84, 87, 91, 94}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [46]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
56
35
11
45

#### Create an empty set called `set6`.

In [47]:
# Your code here
set6= set()
type(set6) #check this is a set

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [48]:
# Your code here
set6.update(set3,set5)

print(set6)

{0, 1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 41, 42, 43, 47, 49, 50, 51, 52, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [49]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [50]:
# Your code here
x = set2.issubset(set1)
print(x)

y = set3.issubset(set1)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [51]:
# Your code here

set345 = set3.union(set4,set5)
print(set345)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [52]:
# your code here
popset1= set1.pop()
print(popset1)
print(set1) #now we have the list without the element popped out

0
{1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 41, 42, 43, 47, 49, 50, 51, 52, 53, 54, 55, 56, 59, 60, 61, 62, 63, 64, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [53]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.discard(i)
print(list_to_remove)
print(set1)

[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
{2, 4, 5, 6, 7, 10, 12, 14, 15, 16, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 36, 37, 38, 42, 43, 47, 50, 52, 53, 54, 55, 56, 60, 62, 63, 64, 66, 68, 70, 72, 73, 74, 75, 76, 77, 80, 82, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98}