# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [1]:
#pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
import numpy as np

In [4]:
elteams=pd.read_csv("datasets/actual.csv")
ecteams=pd.read_excel("datasets/ec2023.xlsx", index_col=False)

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [5]:
# Your Code here: 
type(ecteams) #it is a dataframe

pandas.core.frame.DataFrame

In [6]:
ecteams.info() #we have very few missing values
#we also have date in a format which is not a date, so this should be changed.
#we also have the same variables than in the euroleague, so we will be able to concatenate them later if we want
#unnamed 0 is a previous index so it can be dropped

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  173 non-null    int64
 1   fecha       173 non-null    object
 2   ronda       173 non-null    int64
 3   local       173 non-null    object
 4   visitante   173 non-null    object
 5   localscore  173 non-null    int64
 6   roadscore   172 non-null    float64
 7   Winner      173 non-null    object
 8   Ganador     172 non-null    float64
 9   plusminus   172 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 13.6+ KB

In [7]:
ecteams.head(3) #sólo quiero ver las tres primeras y últimas filas
ecteams.tail(3)

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
170,167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,105.0,27.0
171,168,2023-10-03T19:30:00,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,80.0,10.0
172,169,2023-10-03T19:00:00,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,100.0,27.0

In [8]:
ecteams.drop(columns = ["Unnamed: 0"], inplace=True) #we don´t need this column

In [9]:
ecteams.fecha=pd.to_datetime(ecteams.fecha)
ecteams["Dia"] = ecteams["fecha"].dt.strftime('%Y-%m-%d')
ecteams["Hora"] = ecteams["fecha"].dt.strftime('%H:%M:%S')
ecteams.drop(columns = ["fecha"], inplace=True)

In [10]:
ecteams.sample() #now the time and date look good

,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Dia,Hora
145,3,Dolomiti Energia Trento,Dreamland Gran Canaria,73,87.0,Visitante,87.0,-14.0,2023-10-18,20:00:00

In [11]:
ecteams.drop_duplicates() #we had 2 duplicated rows as before we had 173 rows and now

,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Dia,Hora
0,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0,2024-01-31,21:00:00
1,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0,2024-01-31,20:00:00
2,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0,2024-01-31,19:30:00
3,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0,2024-01-31,18:30:00
4,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0,2024-01-31,18:00:00
...,...,...,...,...,...,...,...,...,...,...
168,1,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,Local,80.0,9.0,2023-10-04,18:00:00
169,1,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,Local,97.0,20.0,2023-10-04,18:00:00
170,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,105.0,27.0,2023-10-03,20:30:00
171,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,80.0,10.0,2023-10-03,19:30:00
172,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,100.0,27.0,2023-10-03,19:00:00

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [12]:
#Your sample ecteams code here: 
ecteams.sample()

,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Dia,Hora
63,11,Buducnost VOLI Podgorica,Turk Telekom Ankara,73,96.0,Visitante,96.0,-23.0,2023-12-13,19:45:00

In [19]:
#Your sample elteams code here: 
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
207,Euroleague,Regular Season,24,2024-01-30,20:00:00,LDLC ASVEL Villeurbanne,Fenerbahce Beko Istanbul,73,83,"['GARCIA, JUAN CARLOS', 'NEDOVIC, MILAN', 'KOW...",-10,Fenerbahce Beko Istanbul,Visitante

In [20]:
elteams.columns

Index(['Competition', 'Phase', 'Ronda', 'Dia', 'Hora', 'Local', 'Visitante',
       'Localscore', 'Roadscore', 'Arbitros', 'Plusminus', 'Winner',
       'Ganador'],
      dtype='object')

In [21]:
ecteams.columns

Index(['ronda', 'local', 'visitante', 'localscore', 'roadscore', 'Winner',
       'Ganador', 'plusminus', 'Dia', 'Hora', 'Competition'],
      dtype='object')

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [22]:
#Your Code here: 
ecteams["Competition"]="Eurocup"
ecteams.head() #we can see it is a fixed value: Eurocup for all rows

,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Dia,Hora,Competition
0,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0,2024-01-31,21:00:00,Eurocup
1,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0,2024-01-31,20:00:00,Eurocup
2,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0,2024-01-31,19:30:00,Eurocup
3,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0,2024-01-31,18:30:00,Eurocup
4,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0,2024-01-31,18:00:00,Eurocup

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [23]:
elteams.sample() #here I can check how Ganador is displayed in elteams, to see if they coincide with ecteams. In this case, it doesn't

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
45,Euroleague,Regular Season,6,2023-11-02,18:30:00,Crvena Zvezda Meridianbet Belgrade,FC Bayern Munich,74,68,"['PEREZ, EMILIO', 'ROSSI, MICHELE', 'SILVA, SE...",6,Crvena Zvezda Meridianbet Belgrade,Local

In [24]:
#Drop the Column Ganador from the Eurocup Dataframe
ecteams.drop(columns = ["Ganador"], inplace=True)

In [25]:
ecteams.Winner.value_counts() #this column contains local or visitante, so this is the column in ecteams that we need to rename as "Ganador"

Winner
Local        91
Visitante    82
Name: count, dtype: int64

In [26]:
#Rename the column with the actual information to "Ganador"
ecteams.rename(columns={"Winner":"Ganador"}, inplace=True)
ecteams.sample()

,ronda,local,visitante,localscore,roadscore,Ganador,plusminus,Dia,Hora,Competition
92,8,London Lions,Cedevita Olimpija Ljubljana,101,95.0,Local,6.0,2023-11-22,20:30:00,Eurocup

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [27]:
# Your code here: 
ecteams.columns

Index(['ronda', 'local', 'visitante', 'localscore', 'roadscore', 'Ganador',
       'plusminus', 'Dia', 'Hora', 'Competition'],
      dtype='object')

In [28]:
elteams.columns

Index(['Competition', 'Phase', 'Ronda', 'Dia', 'Hora', 'Local', 'Visitante',
       'Localscore', 'Roadscore', 'Arbitros', 'Plusminus', 'Winner',
       'Ganador'],
      dtype='object')

In [29]:
type(ecteams)

pandas.core.frame.DataFrame

In [30]:
ecteams.columns = ecteams.columns.str.capitalize() #this way I can capitalize all the columns at once
ecteams.sample()

,Ronda,Local,Visitante,Localscore,Roadscore,Ganador,Plusminus,Dia,Hora,Competition
87,9,Cedevita Olimpija Ljubljana,Paris Basketball,77,93.0,Visitante,-16.0,2023-11-29,18:30:00,Eurocup

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [31]:
# Your code here: 
comp_el=elteams[["Competition", "Localscore", "Roadscore", "Plusminus", "Ganador"]]
comp_el.sample()

   Competition  Localscore  Roadscore  Plusminus    Ganador
33  Euroleague          81         86         -5  Visitante

In [32]:
type(ecteams)

pandas.core.frame.DataFrame

In [33]:
comp_ec=ecteams[["Competition", "Localscore", "Roadscore", "Plusminus", "Ganador"]]
comp_ec.sample()

   Competition  Localscore  Roadscore  Plusminus    Ganador
33     Eurocup          90       96.0       -6.0  Visitante

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [34]:
# Your code here: 
competition=pd.concat([comp_el, comp_ec], axis=0, ignore_index=True)
competition.info() #it has now 398 rows, which proves it worked as that is the sum of nrows of comp_el and comp_ec

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competition  398 non-null    object
 1   Localscore   398 non-null    int64
 2   Roadscore    397 non-null    float64
 3   Plusminus    397 non-null    float64
 4   Ganador      398 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 15.7+ KB

In [35]:
competition.sample()

    Competition  Localscore  Roadscore  Plusminus Ganador
187  Euroleague          91       73.0       18.0   Local

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [36]:
# 1
competition.groupby(by=["Competition"]).agg({"Localscore":"count"})
#there had been 173 matches in Eurocup and 22 in Euroleague

             Localscore
Competition
Eurocup             173
Euroleague          225

In [37]:
# 2
competition.groupby(by=["Competition"]).agg({"Localscore":"max","Roadscore":"max"})

             Localscore  Roadscore
Competition
Eurocup             120      114.0
Euroleague          130      126.0

In [38]:
competition.sort_values(by="Localscore", ascending=False) #just to check it worked" :)

    Competition  Localscore  Roadscore  Plusminus    Ganador
170  Euroleague         130      126.0        4.0      Local
313     Eurocup         120      111.0        9.0      Local
276     Eurocup         120       91.0       29.0      Local
269     Eurocup         118      101.0       17.0      Local
338     Eurocup         114       87.0       27.0      Local
..          ...         ...        ...        ...        ...
14   Euroleague          59       83.0      -24.0  Visitante
126  Euroleague          58       72.0      -14.0  Visitante
237     Eurocup          57       75.0      -18.0  Visitante
124  Euroleague          56       63.0       -7.0  Visitante
116  Euroleague          55       78.0      -23.0  Visitante

[398 rows x 5 columns]

In [39]:
# 3
competition.groupby(by=["Competition"]).agg({"Localscore":"mean","Roadscore":"mean"})

             Localscore  Roadscore
Competition
Eurocup       85.150289  83.936047
Euroleague    83.284444  79.173333

In [40]:
comp_el.describe() #just to check it works again! :)

       Localscore   Roadscore   Plusminus
count  225.000000  225.000000  225.000000
mean    83.284444   79.173333    4.111111
std     10.933197   10.264415   12.144999
min     55.000000   52.000000  -29.000000
25%     76.000000   73.000000   -4.000000
50%     84.000000   78.000000    5.000000
75%     90.000000   85.000000   12.000000
max    130.000000  126.000000   39.000000

In [41]:
# 4
competition["Absolut_Plusminus"]=competition.Plusminus.abs()
competition.head() #it worked, as now the negative valus in plusminus are positive in absolut plusminus!

  Competition  Localscore  Roadscore  Plusminus    Ganador  Absolut_Plusminus
0  Euroleague          94       73.0       21.0      Local               21.0
1  Euroleague          96       81.0       15.0      Local               15.0
2  Euroleague          79       82.0       -3.0  Visitante                3.0
3  Euroleague          80       68.0       12.0      Local               12.0
4  Euroleague          91       74.0       17.0      Local               17.0

In [42]:
competition.groupby(by=["Competition"]).agg({"Absolut_Plusminus":"max"})

             Absolut_Plusminus
Competition
Eurocup                   39.0
Euroleague                39.0

In [43]:
competition.sort_values(by="Absolut_Plusminus", ascending=False) #to check it worked!

,Competition,Localscore,Roadscore,Plusminus,Ganador,Absolut_Plusminus
35,Euroleague,98,59.0,39.0,Local,39.0
366,Eurocup,72,111.0,-39.0,Visitante,39.0
329,Eurocup,60,98.0,-38.0,Visitante,38.0
371,Eurocup,69,105.0,-36.0,Visitante,36.0
162,Euroleague,109,74.0,35.0,Local,35.0
...,...,...,...,...,...,...
277,Eurocup,89,88.0,1.0,Local,1.0
132,Euroleague,90,91.0,-1.0,Visitante,1.0
363,Eurocup,92,93.0,-1.0,Visitante,1.0
278,Eurocup,79,80.0,-1.0,Visitante,1.0
367,Eurocup,72,NaN,NaN,Visitante,NaN

In [44]:
competition.sample()

   Competition  Localscore  Roadscore  Plusminus    Ganador  Absolut_Plusminus
63  Euroleague          82       89.0       -7.0  Visitante                7.0

In [45]:
competition[["Competition", "Ganador"]].groupby("Ganador").value_counts()

Ganador    Competition
Local      Euroleague     150
           Eurocup         91
Visitante  Eurocup         82
           Euroleague      75
Name: count, dtype: int64

In [46]:
competition.to_csv("competition.csv", index=False) #to check how the whole dataframe looks like and check