# Part 1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo= pd.read_table(url) #as it is a .tsv file we cannot use the read_csv table
display(chipo)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
#another option to read the file:
chipo = pd.read_csv(url, sep = '\t') #to get a csv
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
chipo.to_csv("chipo.csv", index=False)  #lo guardo en csv para poder visualizarlo mejor

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1

chipo.info() #it says we have 4622 entries, so 4622 observations. Some of them, missing in the choice-description variable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
# Solution 2
len(chipo)
#length of chipo is 4,622 observations

#another option:
chipo.shape[0] #provides the number of rows. 1 provides the number of columns

4622

### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.info() #it says we have 5 columns

#another option:
display(chipo.shape) #we have 4622 rows and 5 columns

#another option (this for columns)
chipo.shape[1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

(4622, 5)

5

### Step 7. Print the name of all the columns.

In [9]:
display(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
print(chipo.index)
#the database starts with index 0 and ends at 4621 (stop in 4622). Index goes from 1 to 1 (no jumps --> step=1)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
most_order=chipo["item_name"].value_counts() #this shows the different items and how many times they are repeated in the column
#as a result we can say the most-ordered item was Chicken Bowl (ordered 726 times)

In [12]:
print(f"the most-ordered item is Chicken Bowl, ordered 761 times")

the most-ordered item is Chicken Bowl, ordered 761 times

In [13]:
#another way of doing it:
n_orders=chipo.groupby(['item_name']).sum()
n_orders.sort_values(by="quantity", ascending=False)

#for the most ordered item (Chicken Bowl) there were 761 items ordered. This is more accurate because 
#if the number of items ordered by row is bigger than one, the count_values will only count 1.
#This option sums the quantity column, so it is more accurate.

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
Chicken Burrito,497303,591,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49 $8.49 $10.98 $8.49 $10.98 $10.98 $8.75 $...
Chips and Guacamole,449959,506,0,$4.45 $4.45 $4.45 $4.45 $4.45 $3.99 $4.45 $3.9...
Steak Burrito,328437,386,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75 $9.25 $8.99 $11.75 $8.99 $8.99 $8.99 $8...
Canned Soft Drink,304753,351,[Coke][Sprite][Coke][Coke][Lemonade][Sprite][D...,$1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.2...
Chips,208004,230,0,$2.15 $2.15 $2.15 $2.15 $2.15 $2.15 $4.30 $2.1...
Steak Bowl,193752,221,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.99 $8.99 $11.75 $11.75 $8.99 $11.48 $9.25 $...
Bottled Water,175944,211,0,$1.09 $1.09 $1.09 $1.50 $1.50 $1.50 $3.00 $1.5...
Chips and Fresh Tomato Salsa,100419,130,0,$2.39 $2.39 $2.39 $2.95 $2.95 $2.95 $2.95 $2.3...
Canned Soda,76396,126,[Sprite][Dr. Pepper][Mountain Dew][Sprite][Dr....,$2.18 $1.09 $2.18 $1.09 $1.09 $1.09 $1.09 $2.1...
Chicken Salad Bowl,117104,123,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75 $22.50 $22.50 $8.75 $17.50 $8.75 $8.75 $...
Chicken Soft Tacos,98395,120,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75 $8.75 $8.75 $8.75 $11.25 $8.49 $8.49 $8....
Side of Chips,84769,110,0,$1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.6...
Veggie Burrito,80962,97,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25 $8.49 $11.25 $11.25 $10.98 $8.49 $8.49 ...
Barbacoa Burrito,74718,91,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...
Veggie Bowl,72270,87,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25 $8.49 $11.25 $11.25 $8.49 $11.25 $11.25...
Carnitas Bowl,62742,71,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99 $11.75 $9.25 $11.48 $8.99 $8.99 $23.50 $...
Barbacoa Bowl,53972,66,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...
Carnitas Burrito,51652,60,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99 $9.25 $11.75 $9.25 $9.25 $9.25 $11.75 $9...
Steak Soft Tacos,50177,56,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25 $9.25 $8.99 $9.25 $8.99 $8.99 $9.25 $9.2...
6 Pack Soft Drink,52322,55,[Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...,$6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...
Chips and Tomatillo Red Chili Salsa,45556,50,0,$2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Chicken Crispy Tacos,47382,50,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75 $17.50 $11.25 $8.49 $8.49 $11.25 $8.75 $...
Chips and Tomatillo Green Chili Salsa,41170,45,0,$2.95 $2.95 $5.90 $2.95 $2.95 $2.95 $2.95 $2.9...
Carnitas Soft Tacos,37673,40,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.25 $9.25 $9.25 $9.25 $9.25 $8.99 $8.99 $8.9...
Steak Crispy Tacos,35818,36,"[Fresh Tomato Salsa, Sour Cream][[Roasted Chil...",$9.25 $8.99 $9.25 $8.69 $8.99 $9.25 $8.99 $9.2...
Chips and Tomatillo-Green Chili Salsa,21826,33,0,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Steak Salad Bowl,29590,31,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",$23.78 $11.89 $9.39 $23.78 $11.89 $11.89 $11.8...
Nantucket Nectar,21814,29,[Apple][Pomegranate Cherry][Pineapple Orange B...,$3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $6.78 $3.3...
Chips and Tomatillo-Red Chili Salsa,18344,25,0,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Barbacoa Soft Tacos,18725,25,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$9.25 $9.25 $8.99 $9.25 $9.25 $11.75 $11.75 $9...
Chips and Roasted Chili Corn Salsa,14999,23,0,$2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Izze,10587,20,[Clementine][Grapefruit][Blackberry][Blackberr...,$3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.3...
Veggie Salad Bowl,17303,18,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25 $11.25 $11.25 $11.25 $8.75 $8.75 $11.25...
Chips and Roasted Chili-Corn Salsa,17462,18,0,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Barbacoa Crispy Tacos,5613,12,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...
Barbacoa Salad Bowl,9708,10,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...
Chicken Salad,10465,9,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98 $10.98 $8.49 $8.49 $8.49 $8.49 $8.49 $8...
Carnitas Crispy Tacos,5868,8,[Roasted Chili Corn Salsa][Tomatillo Green Chi...,$9.25 $11.75 $8.99 $11.75 $8.99 $17.98 $9.25
Veggie Soft Tacos,5520,8,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25 $8.75 $8.49 $11.25 $8.75 $8.49 $16.98
Burrito,1550,6,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40 $7.40 $7.40 $7.40 $7.40 $7.40
Veggie Salad,7265,6,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49 $8.49 $8.49 $8.49 $8.49 $8.49
Carnitas Salad Bowl,6693,6,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$11.89 $9.39 $11.89 $9.39 $11.89 $11.89
Bowl,472,4,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20 $7.40
Steak Salad,2362,4,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99 $8.99 $8.99 $8.69
Salad,1150,2,"[Brown Rice, Adobo-Marinated and Grilled Chick...",$7.40 $7.40
Crispy Tacos,434,2,[Adobo-Marinated and Grilled Steak][Adobo-Mari...,$7.40 $7.40
Chips and Mild Fresh Tomato Salsa,279,1,0,$3.00
Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.99
Veggie Crispy Tacos,668,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
#answered above

### Step 11. What was the most ordered item in the choice_description column?

In [14]:
chipo.info() #in the variable choice description we have missing values!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [16]:
n_choicedesc= chipo.groupby(["choice_description"]).sum()
n_choicedesc.sort_values(by="quantity", ascending=False) 
print(f"the most ordered choice description was Diet coke, 159")

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...
[Coke],122752,143,Canned Soft DrinkCanned Soft DrinkCanned Soft ...,$1.25 $1.25 $1.25 $6.49 $1.25 $1.25 $1.25 $1.2...
[Sprite],80426,89,Canned SodaCanned SodaCanned Soft Drink6 Pack ...,$2.18 $1.09 $1.25 $6.49 $1.25 $1.25 $1.09 $1.2...
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",43088,49,Chicken BowlChicken BurritoChicken BowlChicken...,$8.75 $8.75 $8.75 $8.75 $9.25 $8.75 $8.75 $8.7...
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",36041,42,Chicken BowlChicken BowlChicken BurritoCarnita...,$17.50 $8.75 $8.75 $9.25 $8.75 $9.25 $8.75 $8....
...,...,...,...,...
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Guacamole, Lettuce]]",577,1,Chicken Burrito,$11.25
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Sour Cream, Lettuce]]",585,1,Chicken Bowl,$8.75
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Sour Cream, Lettuce, Guacamole]]",235,1,Steak Burrito,$11.75
"[Roasted Chili Corn Salsa, [Guacamole, Sour Cream, Rice, Fajita Vegetables, Lettuce]]",987,1,Chicken Burrito,$11.25
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]",1299,1,Barbacoa Bowl,$8.99

In [17]:
#watch out! if we want to see how many orders have been done, this is ok with count_values
#as it provides the number of times the item is repeated (i.e. the number of orders where it appears

chipo["choice_description"].value_counts() #Diet Coke is the item that appears is more orders: 134 orders
chipo["choice_description"].describe() #frequency of appearance is 134, this is a different way

count            3376
unique           1043
top       [Diet Coke]
freq              134
Name: choice_description, dtype: object

### Step 12. How many items were orderd in total?

In [18]:
x=n_choicedesc["quantity"]["[Diet Coke]"]
x
print(f"{x} cans of Diet Coke were ordered")

159 cans of Diet Coke were ordered

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [19]:
chipo.dtypes #item_price is an object

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [20]:
chipo["item_price"] #we can also check it by printing the column itself

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [22]:
chipo["itemprice_float"]=chipo["item_price"].apply(lambda i: i.replace('$','')).astype(float)

dtype('float64')

#### Step 13.c. Check the item price type

In [ ]:
chipo["itemprice_float"] #now we have a float!!
chipo.itemprice_float.dtype #now we have a float! (another way to check the type)

### Step 14. How much was the revenue for the period in the dataset?

In [23]:
chipo.head() #let's refresh how the dataframe looks like

,order_id,quantity,item_name,choice_description,item_price,itemprice_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [24]:
chipo2=chipo.copy() #we make a copy of the df before adding a new column, just in case
chipo2["revenue"] = chipo2["quantity"] * chipo2["itemprice_float"]
chipo2

,order_id,quantity,item_name,choice_description,item_price,itemprice_float,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

In [25]:
chipo2.revenue.sum()

print (f"the total revenue in the period resulted in ${chipo2.revenue.sum()}")

the total revenue in the period resulted in $39237.02

### Step 15. How many orders were made in the period?

In [29]:
chipo2.order_id.value_counts().count()
# there are 1,834 unique values -->unique orders

1834

In [34]:
#another way to find the number of orders is grouping them and showing the number of rows resulting from this
total_order_rev= chipo2.groupby(["order_id"]).sum() 
total_order_rev.shape[0]

1834

### Step 16. What is the average revenue amount per order?

In [31]:
# Solution 1

chipo2.describe() #let's see how the numeric variables look like. Here we can see the mean for each variable

          order_id     quantity  itemprice_float      revenue
count  4622.000000  4622.000000      4622.000000  4622.000000
mean    927.254868     1.075725         7.464336     8.489186
std     528.890796     0.410186         4.245557    12.632060
min       1.000000     1.000000         1.090000     1.090000
25%     477.250000     1.000000         3.390000     3.990000
50%     926.000000     1.000000         8.750000     8.750000
75%    1393.000000     1.000000         9.250000    10.980000
max    1834.000000    15.000000        44.250000   663.750000

In [32]:
print(f"the mean revenue per order is $21.39")

the mean revenue per order is $21.39

In [35]:
# Solution 2
number_orders=len(total_order_rev)
avrge_rev=total_order_rev.revenue.sum()/number_orders
avrge_rev

print(f"the average revenue per order is ${avrge_rev:.2f}")

the average revenue per order is $21.39

### Step 17. How many different items are sold?

In [36]:
chipo2["item_name"].value_counts() #this shows which are the different items we have in the df

chipo2["item_name"].value_counts().count() #this shows how many different items we have in the df

50

# Part 2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [37]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [38]:
url2="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url2, sep = '\t') #to get a csv

In [39]:
chipo.to_csv("chipo.csv", index=False)  #lo guardo en csv para poder visualizarlo mejor

In [40]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [41]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. How many products cost more than $10.00?

In [42]:
chipo["itemprice_float"]=chipo["item_price"].apply(lambda i: i.replace('$','')).astype(dtype='float32')

chipo2=chipo.groupby(['item_name']).sum()

chipo2.head()

,order_id,quantity,choice_description,item_price,itemprice_float
item_name,,,,,
6 Pack Soft Drink,52322,55,[Sprite][Diet Coke][Coke][Diet Coke][Diet Coke...,$6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...,356.949982
Barbacoa Bowl,53972,66,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...,672.359985
Barbacoa Burrito,74718,91,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...,894.750000
Barbacoa Crispy Tacos,5613,12,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...,120.209999
Barbacoa Salad Bowl,9708,10,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...,106.400002

In [43]:
chipo2["costly_items"] = chipo2["itemprice_float"]>10.00

chipo2["costly_items"].value_counts() #47 products cost more than 10 dollars

costly_items
True     47
False     3
Name: count, dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [44]:
chipo3=chipo[["item_name", "item_price"]]
chipo3

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [45]:
chipo3.sort_values(by="item_name", ascending=False)

              item_name item_price
3889  Veggie Soft Tacos    $16.98
2851  Veggie Soft Tacos     $8.49
738   Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49
2384  Veggie Soft Tacos     $8.75
...                 ...        ...
1916  6 Pack Soft Drink     $6.49
1124  6 Pack Soft Drink     $6.49
3789  6 Pack Soft Drink     $6.49
1392  6 Pack Soft Drink     $6.49
3614  6 Pack Soft Drink     $6.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [46]:
chipo4=chipo[["item_name", "itemprice_float","quantity"]]
chipo4.sort_values(by="itemprice_float", ascending=False) #the most expensive item is Chips and Fresh Tomato Salsa
#the quantity is 15

                         item_name  itemprice_float  quantity
3598  Chips and Fresh Tomato Salsa            44.25        15
3480                 Carnitas Bowl            35.25         3
1254               Chicken Burrito            35.00         4
3602               Chicken Burrito            35.00         4
3601                Veggie Burrito            33.75         3
...                            ...              ...       ...
3936                   Canned Soda             1.09         1
2922                 Bottled Water             1.09         1
1396                   Canned Soda             1.09         1
2562                   Canned Soda             1.09         1
1457                   Canned Soda             1.09         1

[4622 rows x 3 columns]

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [47]:
veggiesal = chipo.value_counts(chipo.item_name == "Veggie Salad Bowl") 
veggiesal #it was ordered 18 times

item_name
False    4604
True       18
Name: count, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [50]:
a=chipo["quantity"]>1 
b=chipo["item_name"]=="Canned Soda"
c=a&b
c.sum() #as this returns True (1) if meets the condition and False(0) if it doesn't, with the sum() you add the times the condition is met. This is 20 times here
print(f"times someone ordered Canned Soda twice or more: {c.sum()}")

times someone ordered Canned Soda twice or more: 20